---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/sections/Header.astro";
import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title={`${name}'s Online CV`}>
  <Header />
  <main>
    <!-- <About />
	<Experience />
	<Projects />
	<Skills />
	<Education /> -->
  </main>
</Layout>

<style></style>
